<a href="{{issue.user.html_url}}">{{issue.user.login}}</a> {{action}} issue #<a href="{{issue.html_url}}">{{issue.number}}</a> for <a href="{{repository.html_url}}">{{repository.full_name}}</a>: <a href="{{issue.html_url}}"><b>{{issue.title}}</b></a>
<pre>{{summarize issue.body}}</pre>