<a href="{{comment.user.html_url}}">{{comment.user.login}}</a> commented on <a href="{{comment.html_url}}">{{comment.path}}</a> in a <a href="{{comment.html_url}}">pull request</a> for <a href="{{repository.html_url}}">{{repository.full_name}}</a>
<pre>{{summarize comment.body}}</pre>