<a href="{{sender.html_url}}">{{sender.login}}</a> {{action}} pull request #<a href="{{pull_request.html_url}}">{{number}}</a> on <a href="{{repository.html_url}}">{{repository.full_name}}</a>: <a href="{{pull_request.html_url}}"><b>{{pull_request.title}}</b></a>
<pre>{{summarize pull_request.body}}</pre>